{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <div id="successMessage" class="alert alert-success" style="display: none;"></div>
                                            <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>

                                            <h1 class="mb-5">Forgot Password</h1>
                                            <p class="mb-30">Don't have an account? <a href="{% url 'userauths:sign-up' %}">Create here</a></p>
                                        </div>
                                        <form id="forgotForm" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="email" required name="email" placeholder="Email *" value="{{ form_data.email }}"/>
                                            </div>
                                            <div class="form-group" id="submitBtn">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" id="sendOTPBtn">Reset Password</button>
                                            </div>
                                            <div class="form-group" id="otpField" style="display: none;">
                                                <input type="text" required name="otp" placeholder="OTP *" value="{{ form_data.otp }}"/>
                                            </div>
                                            <div class="form-group" id="verifyBtn" style="display: none;">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" id="verifyOTPBtn">Verify OTP</button>
                                            </div>
                                            <div id="forgotFields" style="display: none;">
                                                <div class="form-group">
                                                    <input type="password" required name="password1" placeholder="New Password *" value="{{ form_data.password1 }}" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" required name="password2" placeholder="Confirm Password *" value="{{ form_data.password2 }}" />
                                                </div>
                                            </div>
                                            <div class="form-group mb-30" id="updatePasswordBtn" style="display: none;">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="signup">Update Password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    $(document).ready(function(){
        $("#sendOTPBtn").click(function(){
            var email = $("input[name='email']").val();
            if(email.trim() === "") {
                // Show error message or handle empty email scenario
                return;
            }

            $.ajax({
                url: "{% url 'userauths:send_forgot_otp' %}",
                type: "POST",
                data: {
                    'email': email,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
                },
                dataType: 'json',
                success: function(data){
                    if (data.error) {
                        $("#errorMessage").text(data.error);
                        $("#errorMessage").show();
                        setTimeout(function(){
                            $("#errorMessage").hide();
                        }, 5000);
                    } else {
                        $("#successMessage").text(data.success);
                        $("#successMessage").show();
                        setTimeout(function(){
                            $("#successMessage").hide();
                        }, 5000);
                        $("#otpField").show();
                        $("#submitBtn").hide();
                        $("#verifyBtn").show();
                    }
                }
            });
        });

        $("#verifyOTPBtn").click(function(){
            var email = $("input[name='email']").val();
            var otp = $("input[name='otp']").val();
            $.ajax({
                url: "{% url 'userauths:verify_otp' %}",
                type: "POST",
                data: {
                    'email': email,
                    'otp': otp,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
                },
                dataType: 'json',
                success: function(data){
                    if (data.error) {
                        $("#errorMessage").text(data.error);
                        $("#errorMessage").show();
                        setTimeout(function(){
                            $("#errorMessage").hide();
                        }, 5000);
                    } else {
                        $("#successMessage").text(data.success);
                        $("#successMessage").show();
                        setTimeout(function(){
                            $("#successMessage").hide();
                        }, 5000);
                        $("#verifyBtn").hide();
                        $("#forgotFields").show();
                        $("#updatePasswordBtn").show();
                    }
                }
            });
        });
    });
</script>
{% if messages %}
    <script>
        $("#sendOTPBtn").hide();
        $("#otpField, #forgotFields, #updatePasswordBtn").show();
    </script>
{% endif %}
{% endblock content %}